<div class="col">
  <div class="card border-success border-2 mb-3 mt-5" style="max-width: 18rem;">
    <div class="card-header"><%= link_to service.title,
                                         service_category_service_path(@service_category, service),
                                         class: 'nav-link link-success text-center' %></div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Цена: <%= number_to_currency(service.price, :unit => "Р") %></li>
      <li class="list-group-item">Время: <%= service.exec_time %> мин.</li>
    </ul>
  </div>
</div>
