<div class="col">
  <div class="card border-success border-2 mb-3 mt-5" style="max-width: 18rem;">
    <div class="card-header"><%= service.name %></div>
    <div class="card-body">
<!--      <p class="card-text"><%#= service.price %></p>-->
    </div>
  </div>
</div>