<h1 class="my-3"><%= t('views.all_execs') %></h1>

<div>
  <%= link_to 'Добавить исполнителя', new_executor_path, class: 'btn btn-success' %>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  <%= render partial:'executor', collection: @executors %>
</div>
