<div class="col">
  <div class="card border-success border-2 mb-3 mt-5" style="max-width: 18rem;">
    <div class="card-header"><%= link_to service_category.title, service_category_path(service_category),
                                         class: 'nav-link link-success text-center text-uppercase' %></div>
    <div class="card-body">
<!--      <p class="card-text"><%#= service.price %></p>-->
    </div>
  </div>
</div>

<!--service_category_services_path(service_category, service_category.services),-->